@import 'https://fonts.googleapis.com/css?family=Lato:300';

body {
  background-color: green;
  text-align:center;
}

#clock {
  font-family: 'Lato', sans-serif;
  font-size: 5vw;
  letter-spacing: .08rem;
  color: #DEDEDE;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  width: 500vw;
  margin-top: -3%;
  padding-top: 0%;
  margin-left: -250vw;
}

#percent {
  font-family: 'Lato', sans-serif;
  font-size: 5vw;
  letter-spacing: .08rem;
  color: #DEDEDE;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  width: 500vw;
  margin-top: -3%;
  padding-top: 0%;
  margin-left: -250vw;
}
